.body{
    background-color: rgba(182, 178, 174, 0.897);
    color: aliceblue;
}
.box1{
    background-color: white;
    width: 27%;
    color: black;
    border-radius: 10px;
    height: 20%;
    overflow: scroll;
}
img{
    margin: 15px 50px -2px 59px;
}