
body{
   background-color: goldenrod;
}
h2{
    text-align: center;
    color:rgb(36, 36, 80);
    
}
h3{
  text-align: center;
  color: whitesmoke;
  font-size: 25px;
}

.container{
    display:flex;
}
.box{
    width:22%;
   
  padding:10px;
  border-radius: 10px;
  margin:10px;
  padding-bottom:15px;
  box-shadow: 10px 10px 10px #000;
 /* border: 2px solid black;*/
  
   
}
.box h2{
    text-align: center;
}
.box img{
    width: 100%;
    border-radius: 10px;
}
#box1{
  
  background-color: rgb(87, 139, 115);

 
 
}
#box2{
  background-color: rgb(89, 89, 129);
}
#box3{
  background-color: rgb(164, 192, 132);
}
#box4{
  background-color: rgb(150, 84, 130);
}
.btn{
    text-align: center;
    padding:10px;
   
}
.btn a{
    text-decoration: none;
    color:black;
     background-color: rgb(243, 69, 0);
    border-radius: 10px;
    padding-top:12px;
    padding-left:90px;
    padding-bottom: 12px;
    padding-right:90px;

}
.btn a:hover{
    background-color: thistle;
}
